*.zip
*.otr
*.o2r
.DS_Store
.vscode
*.swp
logs
*.nix
2ship2harkinian.json
shipofharkinian.json
*.sav
.envrc
imgui.ini
saves/*

mm/libultraship/extern/Debug/ImGui.lib

mm/libultraship/extern/Debug/StrHash64.lib

mm/libultraship/extern/Debug/tinyxml2.lib

mm/libultraship/extern/ImGui.dir/Debug/ImGui.lib.recipe

mm/libultraship/extern/ImGui.dir/Debug/ImGui.tlog/CL.command.1.tlog

mm/libultraship/extern/ImGui.dir/Debug/ImGui.tlog/CL.read.1.tlog

mm/libultraship/extern/ImGui.dir/Debug/ImGui.tlog/CL.write.1.tlog

mm/libultraship/extern/ImGui.dir/Debug/ImGui.tlog/CustomBuild.command.1.tlog

mm/libultraship/extern/ImGui.dir/Debug/ImGui.tlog/CustomBuild.read.1.tlog

mm/libultraship/extern/ImGui.dir/Debug/ImGui.tlog/CustomBuild.write.1.tlog

mm/libultraship/extern/ImGui.dir/Debug/ImGui.tlog/ImGui.lastbuildstate

mm/libultraship/extern/ImGui.dir/Debug/ImGui.tlog/Lib-link.read.1.tlog

mm/libultraship/extern/StrHash64.dir/Debug/StrHash64.tlog/CL.command.1.tlog

mm/libultraship/extern/StrHash64.dir/Debug/StrHash64.tlog/CL.read.1.tlog

mm/libultraship/extern/StrHash64.dir/Debug/StrHash64.tlog/CL.write.1.tlog

mm/libultraship/extern/StrHash64.dir/Debug/StrHash64.tlog/CustomBuild.command.1.tlog

mm/libultraship/extern/StrHash64.dir/Debug/StrHash64.tlog/CustomBuild.read.1.tlog

mm/libultraship/extern/StrHash64.dir/Debug/StrHash64.tlog/CustomBuild.write.1.tlog

mm/libultraship/extern/StrHash64.dir/Debug/StrHash64.tlog/Lib-link.read.1.tlog

mm/libultraship/extern/StrHash64.dir/Debug/StrHash64.tlog/Lib-link.write.1.tlog

mm/libultraship/extern/StrHash64.dir/Debug/StrHash64.tlog/Lib.command.1.tlog
/buildmm
/Debug/libultraship.lib
/Debug
/build*
/Release
.vs/*
/x64

_packages/

/mm/src/boot/build.c
/mm/windows/properties.h
/clang-format.exe
