*.zip
*.otr
*.o2r
.DS_Store
.vscode
*.swp
logs
*.nix
2ship2harkinian.json
shipofharkinian.json
*.sav
.envrc
imgui.ini
saves/*

mm/libultraship/extern/Debug/ImGui.lib

mm/libultraship/extern/Debug/StrHash64.lib

mm/libultraship/extern/Debug/tinyxml2.lib

mm/libultraship/extern/ImGui.dir/Debug/ImGui.lib.recipe

mm/libultraship/extern/ImGui.dir/Debug/ImGui.tlog/CL.command.1.tlog

mm/libultraship/extern/ImGui.dir/Debug/ImGui.tlog/CL.read.1.tlog

mm/libultraship/extern/ImGui.dir/Debug/ImGui.tlog/CL.write.1.tlog

mm/libultraship/extern/ImGui.dir/Debug/ImGui.tlog/CustomBuild.command.1.tlog

mm/libultraship/extern/ImGui.dir/Debug/ImGui.tlog/CustomBuild.read.1.tlog

mm/libultraship/extern/ImGui.dir/Debug/ImGui.tlog/CustomBuild.write.1.tlog

mm/libultraship/extern/ImGui.dir/Debug/ImGui.tlog/ImGui.lastbuildstate

mm/libultraship/extern/ImGui.dir/Debug/ImGui.tlog/Lib-link.read.1.tlog

mm/libultraship/extern/StrHash64.dir/Debug/StrHash64.tlog/CL.command.1.tlog

mm/libultraship/extern/StrHash64.dir/Debug/StrHash64.tlog/CL.read.1.tlog

mm/libultraship/extern/StrHash64.dir/Debug/StrHash64.tlog/CL.write.1.tlog

mm/libultraship/extern/StrHash64.dir/Debug/StrHash64.tlog/CustomBuild.command.1.tlog

mm/libultraship/extern/StrHash64.dir/Debug/StrHash64.tlog/CustomBuild.read.1.tlog

mm/libultraship/extern/StrHash64.dir/Debug/StrHash64.tlog/CustomBuild.write.1.tlog

mm/libultraship/extern/StrHash64.dir/Debug/StrHash64.tlog/Lib-link.read.1.tlog

mm/libultraship/extern/StrHash64.dir/Debug/StrHash64.tlog/Lib-link.write.1.tlog

mm/libultraship/extern/StrHash64.dir/Debug/StrHash64.tlog/Lib.command.1.tlog
/buildmm
/Debug/libultraship.lib
/Debug
/build*
/Release
.vs/*
/x64

_packages/

/mm/src/boot/build.c
/mm/windows/properties.h
/clang-format.exe
.idea/.name
.idea/2ship2harkinian.iml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/editor.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/reply/cache-v2-399a43051f0193cc586a.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-704c0fd5b570c8d77e00.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-2cabdebcb19f20fa613f.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-3661e4d43d1f860570d4.json
cmake-build-debug/.cmake/api/v1/reply/directory-_deps.stormlib-build-Debug-b00a9f35b2a353433644.json
cmake-build-debug/.cmake/api/v1/reply/directory-libultraship-Debug-25c7324e89f056183a0f.json
cmake-build-debug/.cmake/api/v1/reply/directory-libultraship.src-Debug-8cd86e70f96f2d43af03.json
cmake-build-debug/.cmake/api/v1/reply/directory-mm-Debug-bd92ee49dc24ca8a8def.json
cmake-build-debug/.cmake/api/v1/reply/directory-OTRExporter-Debug-0445298d780f34ec977e.json
cmake-build-debug/.cmake/api/v1/reply/directory-OTRExporter.OTRExporter-Debug-84060bc4aaba3aaed10a.json
cmake-build-debug/.cmake/api/v1/reply/directory-ZAPD-Debug-bf3e54d1d9fc46ee4e59.json
cmake-build-debug/.cmake/api/v1/reply/index-2025-02-05T00-14-30-0125.json
cmake-build-debug/.cmake/api/v1/reply/target-2ship-Debug-03d0786edd98cb9e2751.json
cmake-build-debug/.cmake/api/v1/reply/target-CreateOSXIcons-Debug-0f2a06af32d4b18811cb.json
cmake-build-debug/.cmake/api/v1/reply/target-ExtractAssetHeaders-Debug-966941b0a91175b2bcbc.json
cmake-build-debug/.cmake/api/v1/reply/target-ExtractAssets-Debug-25d6543ca8cd883ab8a0.json
cmake-build-debug/.cmake/api/v1/reply/target-Generate2ShipOtr-Debug-3f3f5b9ef9953dfadee4.json
cmake-build-debug/.cmake/api/v1/reply/target-ImGui-Debug-e12ddc98666edaef0942.json
cmake-build-debug/.cmake/api/v1/reply/target-libgfxd-Debug-7c3777151aaff85fdfb2.json
cmake-build-debug/.cmake/api/v1/reply/target-libultraship-Debug-6381f5ee0ee9ac331ad8.json
cmake-build-debug/.cmake/api/v1/reply/target-OTRExporter-Debug-7f2d87c125f1078eba78.json
cmake-build-debug/.cmake/api/v1/reply/target-stb-Debug-943ccb10adf8a8ae5037.json
cmake-build-debug/.cmake/api/v1/reply/target-storm-Debug-b2b14c00b1c3ec93cc49.json
cmake-build-debug/.cmake/api/v1/reply/target-ZAPD-Debug-fbda3d2b6214fc8782a5.json
cmake-build-debug/.cmake/api/v1/reply/target-ZAPDLib-Debug-2a551c7864b855684b22.json
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-92e82dafbc25834ffdea.json
cmake-build-debug/_deps/imgui-src/
cmake-build-debug/_deps/imgui-subbuild/.ninja_log
cmake-build-debug/_deps/imgui-subbuild/build.ninja
cmake-build-debug/_deps/imgui-subbuild/cmake_install.cmake
cmake-build-debug/_deps/imgui-subbuild/CMakeCache.txt
cmake-build-debug/_deps/imgui-subbuild/CMakeFiles/3.29.6/CMakeSystem.cmake
cmake-build-debug/_deps/imgui-subbuild/CMakeFiles/3.30.5/CMakeSystem.cmake
cmake-build-debug/_deps/imgui-subbuild/CMakeFiles/cmake.check_cache
cmake-build-debug/_deps/imgui-subbuild/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/_deps/imgui-subbuild/CMakeFiles/imgui-populate-complete
cmake-build-debug/_deps/imgui-subbuild/CMakeFiles/imgui-populate.dir/Labels.json
cmake-build-debug/_deps/imgui-subbuild/CMakeFiles/imgui-populate.dir/Labels.txt
cmake-build-debug/_deps/imgui-subbuild/CMakeFiles/rules.ninja
cmake-build-debug/_deps/imgui-subbuild/CMakeFiles/TargetDirectories.txt
cmake-build-debug/_deps/imgui-subbuild/CMakeLists.txt
cmake-build-debug/_deps/imgui-subbuild/imgui-populate-prefix/src/imgui-populate-stamp/imgui-populate-build
cmake-build-debug/_deps/imgui-subbuild/imgui-populate-prefix/src/imgui-populate-stamp/imgui-populate-configure
cmake-build-debug/_deps/imgui-subbuild/imgui-populate-prefix/src/imgui-populate-stamp/imgui-populate-done
cmake-build-debug/_deps/imgui-subbuild/imgui-populate-prefix/src/imgui-populate-stamp/imgui-populate-download
cmake-build-debug/_deps/imgui-subbuild/imgui-populate-prefix/src/imgui-populate-stamp/imgui-populate-gitclone-lastrun.txt
cmake-build-debug/_deps/imgui-subbuild/imgui-populate-prefix/src/imgui-populate-stamp/imgui-populate-gitinfo.txt
cmake-build-debug/_deps/imgui-subbuild/imgui-populate-prefix/src/imgui-populate-stamp/imgui-populate-install
cmake-build-debug/_deps/imgui-subbuild/imgui-populate-prefix/src/imgui-populate-stamp/imgui-populate-mkdir
cmake-build-debug/_deps/imgui-subbuild/imgui-populate-prefix/src/imgui-populate-stamp/imgui-populate-patch
cmake-build-debug/_deps/imgui-subbuild/imgui-populate-prefix/src/imgui-populate-stamp/imgui-populate-patch-info.txt
cmake-build-debug/_deps/imgui-subbuild/imgui-populate-prefix/src/imgui-populate-stamp/imgui-populate-test
cmake-build-debug/_deps/imgui-subbuild/imgui-populate-prefix/src/imgui-populate-stamp/imgui-populate-update-info.txt
cmake-build-debug/_deps/imgui-subbuild/imgui-populate-prefix/tmp/imgui-populate-cfgcmd.txt
cmake-build-debug/_deps/imgui-subbuild/imgui-populate-prefix/tmp/imgui-populate-gitclone.cmake
cmake-build-debug/_deps/imgui-subbuild/imgui-populate-prefix/tmp/imgui-populate-gitupdate.cmake
cmake-build-debug/_deps/imgui-subbuild/imgui-populate-prefix/tmp/imgui-populate-mkdirs.cmake
cmake-build-debug/_deps/libgfxd-src/
cmake-build-debug/_deps/libgfxd-subbuild/.ninja_log
cmake-build-debug/_deps/libgfxd-subbuild/build.ninja
cmake-build-debug/_deps/libgfxd-subbuild/cmake_install.cmake
cmake-build-debug/_deps/libgfxd-subbuild/CMakeCache.txt
cmake-build-debug/_deps/libgfxd-subbuild/CMakeFiles/3.29.6/CMakeSystem.cmake
cmake-build-debug/_deps/libgfxd-subbuild/CMakeFiles/3.30.5/CMakeSystem.cmake
cmake-build-debug/_deps/libgfxd-subbuild/CMakeFiles/cmake.check_cache
cmake-build-debug/_deps/libgfxd-subbuild/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/_deps/libgfxd-subbuild/CMakeFiles/libgfxd-populate-complete
cmake-build-debug/_deps/libgfxd-subbuild/CMakeFiles/libgfxd-populate.dir/Labels.json
cmake-build-debug/_deps/libgfxd-subbuild/CMakeFiles/libgfxd-populate.dir/Labels.txt
cmake-build-debug/_deps/libgfxd-subbuild/CMakeFiles/rules.ninja
cmake-build-debug/_deps/libgfxd-subbuild/CMakeFiles/TargetDirectories.txt
cmake-build-debug/_deps/libgfxd-subbuild/CMakeLists.txt
cmake-build-debug/_deps/libgfxd-subbuild/libgfxd-populate-prefix/src/libgfxd-populate-stamp/libgfxd-populate-build
cmake-build-debug/_deps/libgfxd-subbuild/libgfxd-populate-prefix/src/libgfxd-populate-stamp/libgfxd-populate-configure
cmake-build-debug/_deps/libgfxd-subbuild/libgfxd-populate-prefix/src/libgfxd-populate-stamp/libgfxd-populate-done
cmake-build-debug/_deps/libgfxd-subbuild/libgfxd-populate-prefix/src/libgfxd-populate-stamp/libgfxd-populate-download
cmake-build-debug/_deps/libgfxd-subbuild/libgfxd-populate-prefix/src/libgfxd-populate-stamp/libgfxd-populate-gitclone-lastrun.txt
cmake-build-debug/_deps/libgfxd-subbuild/libgfxd-populate-prefix/src/libgfxd-populate-stamp/libgfxd-populate-gitinfo.txt
cmake-build-debug/_deps/libgfxd-subbuild/libgfxd-populate-prefix/src/libgfxd-populate-stamp/libgfxd-populate-install
cmake-build-debug/_deps/libgfxd-subbuild/libgfxd-populate-prefix/src/libgfxd-populate-stamp/libgfxd-populate-mkdir
cmake-build-debug/_deps/libgfxd-subbuild/libgfxd-populate-prefix/src/libgfxd-populate-stamp/libgfxd-populate-patch
cmake-build-debug/_deps/libgfxd-subbuild/libgfxd-populate-prefix/src/libgfxd-populate-stamp/libgfxd-populate-patch-info.txt
cmake-build-debug/_deps/libgfxd-subbuild/libgfxd-populate-prefix/src/libgfxd-populate-stamp/libgfxd-populate-test
cmake-build-debug/_deps/libgfxd-subbuild/libgfxd-populate-prefix/src/libgfxd-populate-stamp/libgfxd-populate-update-info.txt
cmake-build-debug/_deps/libgfxd-subbuild/libgfxd-populate-prefix/tmp/libgfxd-populate-cfgcmd.txt
cmake-build-debug/_deps/libgfxd-subbuild/libgfxd-populate-prefix/tmp/libgfxd-populate-gitclone.cmake
cmake-build-debug/_deps/libgfxd-subbuild/libgfxd-populate-prefix/tmp/libgfxd-populate-gitupdate.cmake
cmake-build-debug/_deps/libgfxd-subbuild/libgfxd-populate-prefix/tmp/libgfxd-populate-mkdirs.cmake
cmake-build-debug/_deps/metalcpp-src/
cmake-build-debug/_deps/metalcpp-subbuild/.ninja_log
cmake-build-debug/_deps/metalcpp-subbuild/build.ninja
cmake-build-debug/_deps/metalcpp-subbuild/cmake_install.cmake
cmake-build-debug/_deps/metalcpp-subbuild/CMakeCache.txt
cmake-build-debug/_deps/metalcpp-subbuild/CMakeFiles/3.29.6/CMakeSystem.cmake
cmake-build-debug/_deps/metalcpp-subbuild/CMakeFiles/3.30.5/CMakeSystem.cmake
cmake-build-debug/_deps/metalcpp-subbuild/CMakeFiles/cmake.check_cache
cmake-build-debug/_deps/metalcpp-subbuild/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/_deps/metalcpp-subbuild/CMakeFiles/metalcpp-populate-complete
cmake-build-debug/_deps/metalcpp-subbuild/CMakeFiles/metalcpp-populate.dir/Labels.json
cmake-build-debug/_deps/metalcpp-subbuild/CMakeFiles/metalcpp-populate.dir/Labels.txt
cmake-build-debug/_deps/metalcpp-subbuild/CMakeFiles/rules.ninja
cmake-build-debug/_deps/metalcpp-subbuild/CMakeFiles/TargetDirectories.txt
cmake-build-debug/_deps/metalcpp-subbuild/CMakeLists.txt
cmake-build-debug/_deps/metalcpp-subbuild/metalcpp-populate-prefix/src/metalcpp-populate-stamp/metalcpp-populate-build
cmake-build-debug/_deps/metalcpp-subbuild/metalcpp-populate-prefix/src/metalcpp-populate-stamp/metalcpp-populate-configure
cmake-build-debug/_deps/metalcpp-subbuild/metalcpp-populate-prefix/src/metalcpp-populate-stamp/metalcpp-populate-done
cmake-build-debug/_deps/metalcpp-subbuild/metalcpp-populate-prefix/src/metalcpp-populate-stamp/metalcpp-populate-download
cmake-build-debug/_deps/metalcpp-subbuild/metalcpp-populate-prefix/src/metalcpp-populate-stamp/metalcpp-populate-gitclone-lastrun.txt
cmake-build-debug/_deps/metalcpp-subbuild/metalcpp-populate-prefix/src/metalcpp-populate-stamp/metalcpp-populate-gitinfo.txt
cmake-build-debug/_deps/metalcpp-subbuild/metalcpp-populate-prefix/src/metalcpp-populate-stamp/metalcpp-populate-install
cmake-build-debug/_deps/metalcpp-subbuild/metalcpp-populate-prefix/src/metalcpp-populate-stamp/metalcpp-populate-mkdir
cmake-build-debug/_deps/metalcpp-subbuild/metalcpp-populate-prefix/src/metalcpp-populate-stamp/metalcpp-populate-patch
cmake-build-debug/_deps/metalcpp-subbuild/metalcpp-populate-prefix/src/metalcpp-populate-stamp/metalcpp-populate-patch-info.txt
cmake-build-debug/_deps/metalcpp-subbuild/metalcpp-populate-prefix/src/metalcpp-populate-stamp/metalcpp-populate-test
cmake-build-debug/_deps/metalcpp-subbuild/metalcpp-populate-prefix/src/metalcpp-populate-stamp/metalcpp-populate-update-info.txt
cmake-build-debug/_deps/metalcpp-subbuild/metalcpp-populate-prefix/tmp/metalcpp-populate-cfgcmd.txt
cmake-build-debug/_deps/metalcpp-subbuild/metalcpp-populate-prefix/tmp/metalcpp-populate-gitclone.cmake
cmake-build-debug/_deps/metalcpp-subbuild/metalcpp-populate-prefix/tmp/metalcpp-populate-gitupdate.cmake
cmake-build-debug/_deps/metalcpp-subbuild/metalcpp-populate-prefix/tmp/metalcpp-populate-mkdirs.cmake
cmake-build-debug/_deps/spdlog-build/cmake_install.cmake
cmake-build-debug/_deps/spdlog-src/
cmake-build-debug/_deps/spdlog-subbuild/.ninja_log
cmake-build-debug/_deps/spdlog-subbuild/build.ninja
cmake-build-debug/_deps/spdlog-subbuild/cmake_install.cmake
cmake-build-debug/_deps/spdlog-subbuild/CMakeCache.txt
cmake-build-debug/_deps/spdlog-subbuild/CMakeFiles/3.29.6/CMakeSystem.cmake
cmake-build-debug/_deps/spdlog-subbuild/CMakeFiles/cmake.check_cache
cmake-build-debug/_deps/spdlog-subbuild/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/_deps/spdlog-subbuild/CMakeFiles/rules.ninja
cmake-build-debug/_deps/spdlog-subbuild/CMakeFiles/spdlog-populate-complete
cmake-build-debug/_deps/spdlog-subbuild/CMakeFiles/spdlog-populate.dir/Labels.json
cmake-build-debug/_deps/spdlog-subbuild/CMakeFiles/spdlog-populate.dir/Labels.txt
cmake-build-debug/_deps/spdlog-subbuild/CMakeFiles/TargetDirectories.txt
cmake-build-debug/_deps/spdlog-subbuild/CMakeLists.txt
cmake-build-debug/_deps/spdlog-subbuild/spdlog-populate-prefix/src/spdlog-populate-stamp/spdlog-populate-build
cmake-build-debug/_deps/spdlog-subbuild/spdlog-populate-prefix/src/spdlog-populate-stamp/spdlog-populate-configure
cmake-build-debug/_deps/spdlog-subbuild/spdlog-populate-prefix/src/spdlog-populate-stamp/spdlog-populate-done
cmake-build-debug/_deps/spdlog-subbuild/spdlog-populate-prefix/src/spdlog-populate-stamp/spdlog-populate-download
cmake-build-debug/_deps/spdlog-subbuild/spdlog-populate-prefix/src/spdlog-populate-stamp/spdlog-populate-gitclone-lastrun.txt
cmake-build-debug/_deps/spdlog-subbuild/spdlog-populate-prefix/src/spdlog-populate-stamp/spdlog-populate-gitinfo.txt
cmake-build-debug/_deps/spdlog-subbuild/spdlog-populate-prefix/src/spdlog-populate-stamp/spdlog-populate-install
cmake-build-debug/_deps/spdlog-subbuild/spdlog-populate-prefix/src/spdlog-populate-stamp/spdlog-populate-mkdir
cmake-build-debug/_deps/spdlog-subbuild/spdlog-populate-prefix/src/spdlog-populate-stamp/spdlog-populate-patch
cmake-build-debug/_deps/spdlog-subbuild/spdlog-populate-prefix/src/spdlog-populate-stamp/spdlog-populate-patch-info.txt
cmake-build-debug/_deps/spdlog-subbuild/spdlog-populate-prefix/src/spdlog-populate-stamp/spdlog-populate-test
cmake-build-debug/_deps/spdlog-subbuild/spdlog-populate-prefix/src/spdlog-populate-stamp/spdlog-populate-update-info.txt
cmake-build-debug/_deps/spdlog-subbuild/spdlog-populate-prefix/tmp/spdlog-populate-cfgcmd.txt
cmake-build-debug/_deps/spdlog-subbuild/spdlog-populate-prefix/tmp/spdlog-populate-gitclone.cmake
cmake-build-debug/_deps/spdlog-subbuild/spdlog-populate-prefix/tmp/spdlog-populate-gitupdate.cmake
cmake-build-debug/_deps/spdlog-subbuild/spdlog-populate-prefix/tmp/spdlog-populate-mkdirs.cmake
cmake-build-debug/_deps/stb/stb_image.h
cmake-build-debug/_deps/stb/stb_impl.c
cmake-build-debug/_deps/stormlib-build/cmake_install.cmake
cmake-build-debug/_deps/stormlib-src/
cmake-build-debug/_deps/stormlib-subbuild/.ninja_log
cmake-build-debug/_deps/stormlib-subbuild/build.ninja
cmake-build-debug/_deps/stormlib-subbuild/cmake_install.cmake
cmake-build-debug/_deps/stormlib-subbuild/CMakeCache.txt
cmake-build-debug/_deps/stormlib-subbuild/CMakeFiles/3.29.6/CMakeSystem.cmake
cmake-build-debug/_deps/stormlib-subbuild/CMakeFiles/3.30.5/CMakeSystem.cmake
cmake-build-debug/_deps/stormlib-subbuild/CMakeFiles/cmake.check_cache
cmake-build-debug/_deps/stormlib-subbuild/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/_deps/stormlib-subbuild/CMakeFiles/rules.ninja
cmake-build-debug/_deps/stormlib-subbuild/CMakeFiles/stormlib-populate-complete
cmake-build-debug/_deps/stormlib-subbuild/CMakeFiles/stormlib-populate.dir/Labels.json
cmake-build-debug/_deps/stormlib-subbuild/CMakeFiles/stormlib-populate.dir/Labels.txt
cmake-build-debug/_deps/stormlib-subbuild/CMakeFiles/TargetDirectories.txt
cmake-build-debug/_deps/stormlib-subbuild/CMakeLists.txt
cmake-build-debug/_deps/stormlib-subbuild/stormlib-populate-prefix/src/stormlib-populate-stamp/stormlib-populate-build
cmake-build-debug/_deps/stormlib-subbuild/stormlib-populate-prefix/src/stormlib-populate-stamp/stormlib-populate-configure
cmake-build-debug/_deps/stormlib-subbuild/stormlib-populate-prefix/src/stormlib-populate-stamp/stormlib-populate-done
cmake-build-debug/_deps/stormlib-subbuild/stormlib-populate-prefix/src/stormlib-populate-stamp/stormlib-populate-download
cmake-build-debug/_deps/stormlib-subbuild/stormlib-populate-prefix/src/stormlib-populate-stamp/stormlib-populate-gitclone-lastrun.txt
cmake-build-debug/_deps/stormlib-subbuild/stormlib-populate-prefix/src/stormlib-populate-stamp/stormlib-populate-gitinfo.txt
cmake-build-debug/_deps/stormlib-subbuild/stormlib-populate-prefix/src/stormlib-populate-stamp/stormlib-populate-install
cmake-build-debug/_deps/stormlib-subbuild/stormlib-populate-prefix/src/stormlib-populate-stamp/stormlib-populate-mkdir
cmake-build-debug/_deps/stormlib-subbuild/stormlib-populate-prefix/src/stormlib-populate-stamp/stormlib-populate-patch
cmake-build-debug/_deps/stormlib-subbuild/stormlib-populate-prefix/src/stormlib-populate-stamp/stormlib-populate-patch-info.txt
cmake-build-debug/_deps/stormlib-subbuild/stormlib-populate-prefix/src/stormlib-populate-stamp/stormlib-populate-test
cmake-build-debug/_deps/stormlib-subbuild/stormlib-populate-prefix/src/stormlib-populate-stamp/stormlib-populate-update-info.txt
cmake-build-debug/_deps/stormlib-subbuild/stormlib-populate-prefix/tmp/stormlib-populate-cfgcmd.txt
cmake-build-debug/_deps/stormlib-subbuild/stormlib-populate-prefix/tmp/stormlib-populate-gitclone.cmake
cmake-build-debug/_deps/stormlib-subbuild/stormlib-populate-prefix/tmp/stormlib-populate-gitupdate.cmake
cmake-build-debug/_deps/stormlib-subbuild/stormlib-populate-prefix/tmp/stormlib-populate-mkdirs.cmake
cmake-build-debug/_deps/threadpool-src/
cmake-build-debug/_deps/threadpool-subbuild/.ninja_log
cmake-build-debug/_deps/threadpool-subbuild/build.ninja
cmake-build-debug/_deps/threadpool-subbuild/cmake_install.cmake
cmake-build-debug/_deps/threadpool-subbuild/CMakeCache.txt
cmake-build-debug/_deps/threadpool-subbuild/CMakeFiles/3.29.6/CMakeSystem.cmake
cmake-build-debug/_deps/threadpool-subbuild/CMakeFiles/3.30.5/CMakeSystem.cmake
cmake-build-debug/_deps/threadpool-subbuild/CMakeFiles/cmake.check_cache
cmake-build-debug/_deps/threadpool-subbuild/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/_deps/threadpool-subbuild/CMakeFiles/rules.ninja
cmake-build-debug/_deps/threadpool-subbuild/CMakeFiles/TargetDirectories.txt
cmake-build-debug/_deps/threadpool-subbuild/CMakeFiles/threadpool-populate-complete
cmake-build-debug/_deps/threadpool-subbuild/CMakeFiles/threadpool-populate.dir/Labels.json
cmake-build-debug/_deps/threadpool-subbuild/CMakeFiles/threadpool-populate.dir/Labels.txt
cmake-build-debug/_deps/threadpool-subbuild/CMakeLists.txt
cmake-build-debug/_deps/threadpool-subbuild/threadpool-populate-prefix/src/threadpool-populate-stamp/threadpool-populate-build
cmake-build-debug/_deps/threadpool-subbuild/threadpool-populate-prefix/src/threadpool-populate-stamp/threadpool-populate-configure
cmake-build-debug/_deps/threadpool-subbuild/threadpool-populate-prefix/src/threadpool-populate-stamp/threadpool-populate-done
cmake-build-debug/_deps/threadpool-subbuild/threadpool-populate-prefix/src/threadpool-populate-stamp/threadpool-populate-download
cmake-build-debug/_deps/threadpool-subbuild/threadpool-populate-prefix/src/threadpool-populate-stamp/threadpool-populate-gitclone-lastrun.txt
cmake-build-debug/_deps/threadpool-subbuild/threadpool-populate-prefix/src/threadpool-populate-stamp/threadpool-populate-gitinfo.txt
cmake-build-debug/_deps/threadpool-subbuild/threadpool-populate-prefix/src/threadpool-populate-stamp/threadpool-populate-install
cmake-build-debug/_deps/threadpool-subbuild/threadpool-populate-prefix/src/threadpool-populate-stamp/threadpool-populate-mkdir
cmake-build-debug/_deps/threadpool-subbuild/threadpool-populate-prefix/src/threadpool-populate-stamp/threadpool-populate-patch
cmake-build-debug/_deps/threadpool-subbuild/threadpool-populate-prefix/src/threadpool-populate-stamp/threadpool-populate-patch-info.txt
cmake-build-debug/_deps/threadpool-subbuild/threadpool-populate-prefix/src/threadpool-populate-stamp/threadpool-populate-test
cmake-build-debug/_deps/threadpool-subbuild/threadpool-populate-prefix/src/threadpool-populate-stamp/threadpool-populate-update-info.txt
cmake-build-debug/_deps/threadpool-subbuild/threadpool-populate-prefix/tmp/threadpool-populate-cfgcmd.txt
cmake-build-debug/_deps/threadpool-subbuild/threadpool-populate-prefix/tmp/threadpool-populate-gitclone.cmake
cmake-build-debug/_deps/threadpool-subbuild/threadpool-populate-prefix/tmp/threadpool-populate-gitupdate.cmake
cmake-build-debug/_deps/threadpool-subbuild/threadpool-populate-prefix/tmp/threadpool-populate-mkdirs.cmake
cmake-build-debug/build.ninja
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.30.5/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.30.5/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_OBJCXX.bin
cmake-build-debug/CMakeFiles/3.30.5/CMakeOBJCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.30.5/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.30.5/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.30.5/CompilerIdC/CMakeCCompilerId.o
cmake-build-debug/CMakeFiles/3.30.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.30.5/CompilerIdCXX/CMakeCXXCompilerId.o
cmake-build-debug/CMakeFiles/3.30.5/CompilerIdOBJCXX/CMakeOBJCXXCompilerId.mm
cmake-build-debug/CMakeFiles/3.30.5/CompilerIdOBJCXX/CMakeOBJCXXCompilerId.o
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CPackConfig.cmake
cmake-build-debug/CPackSourceConfig.cmake
cmake-build-debug/gamecontrollerdb.txt
cmake-build-debug/libultraship/cmake_install.cmake
cmake-build-debug/libultraship/src/cmake_install.cmake
cmake-build-debug/libultraship/src/install_config.h
cmake-build-debug/macosx/2s2h-macos.sh
cmake-build-debug/macosx/Info.plist
cmake-build-debug/mm/cmake_install.cmake
cmake-build-debug/OTRExporter/cmake_install.cmake
cmake-build-debug/OTRExporter/OTRExporter/cmake_install.cmake
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/ZAPD/cmake_install.cmake
cmake-build-debug/.cmake/api/v1/reply/target-2ship-Debug-ce2ec41594c5e8377a3c.json
cmake-build-debug/.cmake/api/v1/reply/index-2025-02-05T00-15-47-0029.json
cmake-build-debug/.cmake/api/v1/reply/directory-mm-Debug-bf04d30f394910d2555a.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-ded56e11f16532685c3b.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-0c87f9c17458c7ef25a0.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-865c6103ac825d0e6bb0.json
cmake-build-debug/.cmake/api/v1/reply/cache-v2-abda395ff90fd24bb18a.json
