[submodule "libultraship"]
	path = libultraship
	url = https://github.com/kenix3/libultraship.git
[submodule "OTRExporter"]
	path = OTRExporter
	url = https://github.com/louist103/OTRExporter.git
[submodule "ZAPDTR"]
	path = ZAPDTR
	url = https://github.com/louist103/ZAPDTR.git
[submodule "mm/2s2h/Enhancements/Audio/dr_libs"]
	path = mm/2s2h/Enhancements/Audio/dr_libs
	url = https://github.com/mackron/dr_libs.git
